<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0;url=static/templates/hello.html">
    <title>Hello Greeting</title>
    <script language="javascript">
        window.location.href = "static/templates/hello.htmll"
    </script>
</head>
<body>
    Go to <a href="static/pages/index.html">static/pages/index.html</a>
</body>
</html>

<html>
   <body>
      <form action = "http://localhost:5000/login" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
